# VS code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
static/2dshift/.Nodes/3/job140_particles.star
static/2dshift/.Nodes/3/Select/job001/particles.star
static/2dshift/Class2D/job121/job121/.run.err.tail
static/2dshift/Class2D/job121/job121/.run.out.tail
static/2dshift/Class2D/job121/job121/default_pipeline.star
static/2dshift/Class2D/job121/job121/job_pipeline.star
static/2dshift/Class2D/job121/job121/job.star
static/2dshift/Class2D/job121/job121/note.txt
static/2dshift/Class2D/job121/job121/RELION_JOB_EXIT_SUCCESS
static/2dshift/Class2D/job121/job121/run_it000_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it000_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it000_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it000_data.star
static/2dshift/Class2D/job121/job121/run_it000_model.star
static/2dshift/Class2D/job121/job121/run_it000_optimiser.star
static/2dshift/Class2D/job121/job121/run_it010_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it010_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it010_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it010_data.star
static/2dshift/Class2D/job121/job121/run_it010_model.star
static/2dshift/Class2D/job121/job121/run_it010_optimiser.star
static/2dshift/Class2D/job121/job121/run_it010_sampling.star
static/2dshift/Class2D/job121/job121/run_it020_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it020_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it020_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it020_data.star
static/2dshift/Class2D/job121/job121/run_it020_model.star
static/2dshift/Class2D/job121/job121/run_it020_optimiser.star
static/2dshift/Class2D/job121/job121/run_it020_sampling.star
static/2dshift/Class2D/job121/job121/run_it030_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it030_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it030_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it030_data.star
static/2dshift/Class2D/job121/job121/run_it030_model.star
static/2dshift/Class2D/job121/job121/run_it030_optimiser.star
static/2dshift/Class2D/job121/job121/run_it030_sampling.star
static/2dshift/Class2D/job121/job121/run_it040_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it040_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it040_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it040_data.star
static/2dshift/Class2D/job121/job121/run_it040_model.star
static/2dshift/Class2D/job121/job121/run_it040_optimiser.star
static/2dshift/Class2D/job121/job121/run_it040_sampling.star
static/2dshift/Class2D/job121/job121/run_it050_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it050_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it050_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it050_data.star
static/2dshift/Class2D/job121/job121/run_it050_model.star
static/2dshift/Class2D/job121/job121/run_it050_optimiser.star
static/2dshift/Class2D/job121/job121/run_it050_sampling.star
static/2dshift/Class2D/job121/job121/run_it060_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it060_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it060_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it060_data.star
static/2dshift/Class2D/job121/job121/run_it060_model.star
static/2dshift/Class2D/job121/job121/run_it060_optimiser.star
static/2dshift/Class2D/job121/job121/run_it060_sampling.star
static/2dshift/Class2D/job121/job121/run_it070_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it070_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it070_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it070_data.star
static/2dshift/Class2D/job121/job121/run_it070_model.star
static/2dshift/Class2D/job121/job121/run_it070_optimiser.star
static/2dshift/Class2D/job121/job121/run_it070_sampling.star
static/2dshift/Class2D/job121/job121/run_it080_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it080_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it080_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it080_data.star
static/2dshift/Class2D/job121/job121/run_it080_model.star
static/2dshift/Class2D/job121/job121/run_it080_optimiser.star
static/2dshift/Class2D/job121/job121/run_it080_sampling.star
static/2dshift/Class2D/job121/job121/run_it090_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it090_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it090_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it090_data.star
static/2dshift/Class2D/job121/job121/run_it090_model.star
static/2dshift/Class2D/job121/job121/run_it090_optimiser.star
static/2dshift/Class2D/job121/job121/run_it090_sampling.star
static/2dshift/Class2D/job121/job121/run_it100_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it100_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it100_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it100_data.star
static/2dshift/Class2D/job121/job121/run_it100_model.star
static/2dshift/Class2D/job121/job121/run_it100_optimiser.star
static/2dshift/Class2D/job121/job121/run_it100_sampling.star
static/2dshift/Class2D/job121/job121/run_it110_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it110_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it110_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it110_data.star
static/2dshift/Class2D/job121/job121/run_it110_model.star
static/2dshift/Class2D/job121/job121/run_it110_optimiser.star
static/2dshift/Class2D/job121/job121/run_it110_sampling.star
static/2dshift/Class2D/job121/job121/run_it120_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it120_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it120_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it120_data.star
static/2dshift/Class2D/job121/job121/run_it120_model.star
static/2dshift/Class2D/job121/job121/run_it120_optimiser.star
static/2dshift/Class2D/job121/job121/run_it120_sampling.star
static/2dshift/Class2D/job121/job121/run_it130_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it130_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it130_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it130_data.star
static/2dshift/Class2D/job121/job121/run_it130_model.star
static/2dshift/Class2D/job121/job121/run_it130_optimiser.star
static/2dshift/Class2D/job121/job121/run_it130_sampling.star
static/2dshift/Class2D/job121/job121/run_it140_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it140_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it140_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it140_data.star
static/2dshift/Class2D/job121/job121/run_it140_model.star
static/2dshift/Class2D/job121/job121/run_it140_optimiser.star
static/2dshift/Class2D/job121/job121/run_it140_sampling.star
static/2dshift/Class2D/job121/job121/run_it150_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it150_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it150_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it150_data.star
static/2dshift/Class2D/job121/job121/run_it150_model.star
static/2dshift/Class2D/job121/job121/run_it150_optimiser.star
static/2dshift/Class2D/job121/job121/run_it150_sampling.star
static/2dshift/Class2D/job121/job121/run_it160_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it160_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it160_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it160_data.star
static/2dshift/Class2D/job121/job121/run_it160_model.star
static/2dshift/Class2D/job121/job121/run_it160_optimiser.star
static/2dshift/Class2D/job121/job121/run_it160_sampling.star
static/2dshift/Class2D/job121/job121/run_it170_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it170_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it170_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it170_data.star
static/2dshift/Class2D/job121/job121/run_it170_model.star
static/2dshift/Class2D/job121/job121/run_it170_optimiser.star
static/2dshift/Class2D/job121/job121/run_it170_sampling.star
static/2dshift/Class2D/job121/job121/run_it180_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it180_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it180_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it180_data.star
static/2dshift/Class2D/job121/job121/run_it180_model.star
static/2dshift/Class2D/job121/job121/run_it180_optimiser.star
static/2dshift/Class2D/job121/job121/run_it180_sampling.star
static/2dshift/Class2D/job121/job121/run_it190_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it190_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it190_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it190_data.star
static/2dshift/Class2D/job121/job121/run_it190_model.star
static/2dshift/Class2D/job121/job121/run_it190_optimiser.star
static/2dshift/Class2D/job121/job121/run_it190_sampling.star
static/2dshift/Class2D/job121/job121/run_it200_1moment.mrcs
static/2dshift/Class2D/job121/job121/run_it200_2moment.mrcs
static/2dshift/Class2D/job121/job121/run_it200_classes.mrcs
static/2dshift/Class2D/job121/job121/run_it200_data.star
static/2dshift/Class2D/job121/job121/run_it200_model.star
static/2dshift/Class2D/job121/job121/run_it200_optimiser.star
static/2dshift/Class2D/job121/job121/run_it200_sampling.star
static/2dshift/Class2D/job121/job121/run.err
static/2dshift/Class2D/job121/job121/run.out
static/2dshift/Select/job001/.run.err.tail
static/2dshift/Select/job001/.run.out.tail
static/2dshift/Select/job001/default_pipeline.star
static/2dshift/Select/job001/job_pipeline.star
static/2dshift/Select/job001/job.star
static/2dshift/Select/job001/note.txt
static/2dshift/Select/job001/particles.star
static/2dshift/Select/job001/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job001/run.err
static/2dshift/Select/job001/run.out
static/2dshift/Select/job069/.run.err.tail
static/2dshift/Select/job069/.run.out.tail
static/2dshift/Select/job069/default_pipeline.star
static/2dshift/Select/job069/job_pipeline.star
static/2dshift/Select/job069/job.star
static/2dshift/Select/job069/note.txt
static/2dshift/Select/job069/particles_split1.star
static/2dshift/Select/job069/particles_split2.star
static/2dshift/Select/job069/particles_split3.star
static/2dshift/Select/job069/particles_split4.star
static/2dshift/Select/job069/particles_split5.star
static/2dshift/Select/job069/particles_split6.star
static/2dshift/Select/job069/particles_split7.star
static/2dshift/Select/job069/particles_split8.star
static/2dshift/Select/job069/particles_split9.star
static/2dshift/Select/job069/particles_split10.star
static/2dshift/Select/job069/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job069/RELION_OUTPUT_NODES.star
static/2dshift/Select/job069/run.err
static/2dshift/Select/job069/run.out
static/2dshift/Select/job075/.run.err.tail
static/2dshift/Select/job075/.run.out.tail
static/2dshift/Select/job075/backup_selection.star
static/2dshift/Select/job075/class_averages.mrcs
static/2dshift/Select/job075/class_averages.star
static/2dshift/Select/job075/default_pipeline.star
static/2dshift/Select/job075/job_pipeline.star
static/2dshift/Select/job075/job.star
static/2dshift/Select/job075/note.txt
static/2dshift/Select/job075/particles.star
static/2dshift/Select/job075/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job075/run.err
static/2dshift/Select/job075/run.out
static/2dshift/Select/job080/.run.err.tail
static/2dshift/Select/job080/.run.out.tail
static/2dshift/Select/job080/backup_selection.star
static/2dshift/Select/job080/class_averages.mrcs
static/2dshift/Select/job080/class_averages.star
static/2dshift/Select/job080/default_pipeline.star
static/2dshift/Select/job080/job_pipeline.star
static/2dshift/Select/job080/job.star
static/2dshift/Select/job080/note.txt
static/2dshift/Select/job080/out.star
static/2dshift/Select/job080/particles.star
static/2dshift/Select/job080/particles2.star
static/2dshift/Select/job080/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job080/run.err
static/2dshift/Select/job080/run.out
static/2dshift/Select/job082/.run.err.tail
static/2dshift/Select/job082/.run.out.tail
static/2dshift/Select/job082/backup_selection.star
static/2dshift/Select/job082/class_averages.mrcs
static/2dshift/Select/job082/class_averages.star
static/2dshift/Select/job082/default_pipeline.star
static/2dshift/Select/job082/job_pipeline.star
static/2dshift/Select/job082/job.star
static/2dshift/Select/job082/note.txt
static/2dshift/Select/job082/particles.star
static/2dshift/Select/job082/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job082/run.err
static/2dshift/Select/job082/run.out
static/2dshift/Select/job089/.run.err.tail
static/2dshift/Select/job089/.run.out.tail
static/2dshift/Select/job089/backup_selection.star
static/2dshift/Select/job089/default_pipeline.star
static/2dshift/Select/job089/job_pipeline.star
static/2dshift/Select/job089/job.star
static/2dshift/Select/job089/note.txt
static/2dshift/Select/job089/particles.star
static/2dshift/Select/job089/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job089/run.err
static/2dshift/Select/job089/run.out
static/2dshift/Select/job090/.run.err.tail
static/2dshift/Select/job090/.run.out.tail
static/2dshift/Select/job090/backup_selection.star
static/2dshift/Select/job090/default_pipeline.star
static/2dshift/Select/job090/job_pipeline.star
static/2dshift/Select/job090/job.star
static/2dshift/Select/job090/note.txt
static/2dshift/Select/job090/particles.star
static/2dshift/Select/job090/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job090/run.err
static/2dshift/Select/job090/run.out
static/2dshift/Select/job091/.run.err.tail
static/2dshift/Select/job091/.run.out.tail
static/2dshift/Select/job091/backup_selection.star
static/2dshift/Select/job091/default_pipeline.star
static/2dshift/Select/job091/job_pipeline.star
static/2dshift/Select/job091/job.star
static/2dshift/Select/job091/note.txt
static/2dshift/Select/job091/particles.star
static/2dshift/Select/job091/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job091/run.err
static/2dshift/Select/job091/run.out
static/2dshift/Select/job098/.run.err.tail
static/2dshift/Select/job098/.run.out.tail
static/2dshift/Select/job098/backup_selection.star
static/2dshift/Select/job098/class_averages.mrcs
static/2dshift/Select/job098/class_averages.star
static/2dshift/Select/job098/default_pipeline.star
static/2dshift/Select/job098/job_pipeline.star
static/2dshift/Select/job098/job.star
static/2dshift/Select/job098/note.txt
static/2dshift/Select/job098/particles.star
static/2dshift/Select/job098/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job098/run.err
static/2dshift/Select/job098/run.out
static/2dshift/Select/job099/.run.err.tail
static/2dshift/Select/job099/.run.out.tail
static/2dshift/Select/job099/backup_selection.star
static/2dshift/Select/job099/class_averages.mrcs
static/2dshift/Select/job099/class_averages.star
static/2dshift/Select/job099/default_pipeline.star
static/2dshift/Select/job099/job_pipeline.star
static/2dshift/Select/job099/job.star
static/2dshift/Select/job099/note.txt
static/2dshift/Select/job099/particles.star
static/2dshift/Select/job099/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job099/run.err
static/2dshift/Select/job099/run.out
static/2dshift/Select/job100/.run.err.tail
static/2dshift/Select/job100/.run.out.tail
static/2dshift/Select/job100/backup_selection.star
static/2dshift/Select/job100/class_averages.mrcs
static/2dshift/Select/job100/class_averages.star
static/2dshift/Select/job100/default_pipeline.star
static/2dshift/Select/job100/job_pipeline.star
static/2dshift/Select/job100/job.star
static/2dshift/Select/job100/note.txt
static/2dshift/Select/job100/particles.star
static/2dshift/Select/job100/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job100/run.err
static/2dshift/Select/job100/run.out
static/2dshift/Select/job109/.run.err.tail
static/2dshift/Select/job109/.run.out.tail
static/2dshift/Select/job109/backup_selection.star
static/2dshift/Select/job109/class_averages.mrcs
static/2dshift/Select/job109/class_averages.star
static/2dshift/Select/job109/default_pipeline.star
static/2dshift/Select/job109/job_pipeline.star
static/2dshift/Select/job109/job.star
static/2dshift/Select/job109/note.txt
static/2dshift/Select/job109/particles.star
static/2dshift/Select/job109/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job109/run.err
static/2dshift/Select/job109/run.out
static/2dshift/Select/job119/.run.err.tail
static/2dshift/Select/job119/.run.out.tail
static/2dshift/Select/job119/backup_selection.star
static/2dshift/Select/job119/default_pipeline.star
static/2dshift/Select/job119/job_pipeline.star
static/2dshift/Select/job119/job.star
static/2dshift/Select/job119/note.txt
static/2dshift/Select/job119/particles.star
static/2dshift/Select/job119/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job119/run.err
static/2dshift/Select/job119/run.out
static/2dshift/Select/job124/.run.err.tail
static/2dshift/Select/job124/.run.out.tail
static/2dshift/Select/job124/backup_selection.star
static/2dshift/Select/job124/default_pipeline.star
static/2dshift/Select/job124/job_pipeline.star
static/2dshift/Select/job124/job.star
static/2dshift/Select/job124/note.txt
static/2dshift/Select/job124/particles.star
static/2dshift/Select/job124/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job124/run.err
static/2dshift/Select/job124/run.out
static/2dshift/Select/job139/.run.err.tail
static/2dshift/Select/job139/.run.out.tail
static/2dshift/Select/job139/default_pipeline.star
static/2dshift/Select/job139/job_pipeline.star
static/2dshift/Select/job139/job.star
static/2dshift/Select/job139/note.txt
static/2dshift/Select/job139/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job139/run.err
static/2dshift/Select/job139/run.out
static/2dshift/Select/job140/.run.err.tail
static/2dshift/Select/job140/.run.out.tail
static/2dshift/Select/job140/backup_selection.star
static/2dshift/Select/job140/class_averages.mrcs
static/2dshift/Select/job140/class_averages.star
static/2dshift/Select/job140/default_pipeline.star
static/2dshift/Select/job140/job_pipeline.star
static/2dshift/Select/job140/job.star
static/2dshift/Select/job140/note.txt
static/2dshift/Select/job140/particles.star
static/2dshift/Select/job140/RELION_JOB_EXIT_SUCCESS
static/2dshift/Select/job140/run.err
static/2dshift/Select/job140/run.out
static/2dshift/.gui_projectdir
static/2dshift/.gui_selectjob.star
static/2dshift/.relion_display_gui_settings
static/2dshift/backup_selection.star
static/2dshift/class_averages.mrcs
static/2dshift/class_averages.star
static/2dshift/default_pipeline.star
static/2dshift/Extract
static/2dshift/J566_passthrough_particles.star
static/2dshift/job_pipeline.star
static/2dshift/job.star
static/2dshift/job140_particles_shifted.star
static/2dshift/job140_particles.star
static/2dshift/note.txt
static/2dshift/particles.star
static/2dshift/RELION_JOB_EXIT_SUCCESS
static/2dshift/run.err
static/2dshift/run.out
